{% extends "template.html" %}

{% load static %}

{% block linkcss %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block title %}
    Catendar đang tuyển mèo
{% endblock %}




{% block title-frame %}
    (ꏿ ᆺ ꏿ)??
{% endblock %}

{% block thongtin %}
    <div class="row">
        <!-- <div class="col-2 fw-bolder" click="show()">5<br />In progess <i class="fa fa-paw"></i></div> -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="content-khung row">
                <!-- BEGIN: group1 -->
               <div class="mb-3" style="margin-top: 30px;">
                <form action="{% url 'deleteTask' tskDelete.id %}" method="POST" >
                {% csrf_token %}
                  
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> Delete </legend>
                        <h2>Are you sure you want to delete the task: <strong>{{tskDelete.task}}</strong>  </h2>
                    </fieldset>
                    
                        
                    <div class=" form-group">
                        <input type="submit" class="btn btn-outline-danger " value="Yes, delete" />
                        <a href="{% url 'detail' tskDelete.project.id %}" class="btn btn-outline-secondary ">Back</a>
                    
                        
                    </div>
                </form>

               </div>
                
                <!-- END: group1 -->

            </div>
        </div>                   

           
            
    </div>
{% endblock %}

