{% extends "template.html" %}

{% load static %}

{% block linkcss %}
    <link rel="stylesheet" href="{% static '/css/home.css'%}">

{% endblock %}

{% block title %}
Catendar - Home
{% endblock %}



{% block title-frame %}
    Project ＾⌤＾
{% endblock %}

{% block thongtin %}
<div class="row">
    <!--BEGIN: Nav-tab -->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" style="font-size: 20px;">In progress</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" style="font-size: 20px;">Done</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" style="font-size: 20px;">Total</button>
        </div>
        <span id="panigate">

        </span>
    </nav>
    <!-- END: Nav-tab -->

    <!--BEGIN: content -->
    <div class="tab-content" id="nav-tabContent">
        <!--BEGIN: frame-project In progress -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="content-khung row"> 
                {% include 'project/project.html'%} 
            </div>
        </div>
        <!--END: frame-project In progress  -->

        <!--BEGIN: frame-project Done  -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="content-khung row">
                {% include 'project/projectDone.html'%} 

            </div>
        </div>
        <!--END: frame-project Done  -->
        
        <!--BEGIN: frame-project Total -->
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="content-khung row">
                {% include 'project/projectTotal.html'%} 
            </div>
        </div>
        <!--END: frame-project Total -->

    </div>
    <!--END: content -->
</div>
{% endblock %}

{% block script %}
    <script src="{% static '/js/data.js'%}"></script>
{% endblock %}

<!-- 1. Nguyễn Bảo Hà - 19520067
2. Lê Thị Hương Giang - 19520499
3. Nguyễn Thị Hải Hà - 19520506 -->