{% extends "template.html" %}

{% load static %}

{% block linkcss %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block title %}
Catendar đang tuyển mèo
{% endblock %}



{% block title-frame %}
    Group (ΦωΦ): {{gr.name}}
{% endblock %}

{% block thongtin %}
    <div class="row mt-5 py-4">
        <!-- <div class="col-2 fw-bolder" click="show()">5<br />In progess <i class="fa fa-paw"></i></div> -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="content-khung row">
                <div class="form-group">
                    <form class="row g-3 form-horizontal" action="{% url 'addUser' group_id  %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="col-md-6">
                         <select name="userName" id="userName" class="form-select select-chosen" data-placeholder="Choose a User" style="">
                             {% for i in user%}
                             <option value="{{i.username}}">{{i.username}}</option>
                             {% endfor%}
                         </select>
                        </div>
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-primary mb-3">Submit</button>
                        </div>
                      </form>
                   
            </div>
            <hr>
                    
            <div class="container">
                <div class="row py-4">
                    <!-- BEGIN: member -->
                    <div class="col-sm-12 col-lg-6 ">
                        <div class="member-in-group">
                            <h2>Member</h2>
                            <div class="member-in-group"> 
                                <ul class="list-group list-group-flush">
                                    {% for item in member %}
                                    <li class="list-group-item">{{item}}</li>
                                    {% endfor%}
                                    
                                  </ul>
                                
                            </div>
                        </div>
                    </div>
                    <!-- END: member -->

                    <div class="col-sm-12 col-lg-6 ">
                        <h2>Project</h2>

                        <div class="project-in-group"> 
                            <ul class="list-group list-group-flush">
                                {% for item in project %}
                                <li class="list-group-item">{{item}}</li>
                                {% endfor%}
                                
                              </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            
                   
            
                <!-- BEGIN: group1 -->
               
                <!-- END: group1 -->
                
               

            </div>
        </div>                   

           
            
    </div>
{% endblock %}

