{% extends "template.html" %}

{% load static %}

{% block linkcss %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block title %}
    Catendar đang tuyển mèo
{% endblock %}




{% block title-frame %}
    Add project ฅ^•ﻌ•^ฅ
{% endblock %}

{% block thongtin %}
    <div class="row">
        <!-- <div class="col-2 fw-bolder" click="show()">5<br />In progess <i class="fa fa-paw"></i></div> -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="content-khung row">
                <!-- BEGIN: group1 -->
                
               <div class="mb-3" style="margin-top: 30px;">
                <form action="." method="POST" >
                    {% csrf_token %}
                        <!-- {{form_prj.as_p}} -->
                        <div  class="row g-3" >
                            <div class="col-md-12">
                                <label  class="form-label ">Project</label>
                                {{form_prj.name_project}}

                            </div>
                             <div class="col-md-12">
                                <label  class="form-label">Decription</label>
                                {{form_prj.decription}}

                            </div>
                            <div class="col-md-12">
                                <label for="inputFirstname4" class="form-label">Group</label>
                                <select name="" id="">
                                    <option selected disabled="true">Groups</option>
                                    {% for select in groupChoice%}
                                    <option>{{{select.name}}</option>
                                    {% endfor%}
                                </select>
                                {{form_prj.group}}

                            </div>
                            <div class="col-md-12">
                                <label for="inputBirth4" class="form-label">Deadline</label>
                                {{form_prj.deadline}}

                            </div>
                            
                        </div>
                        <input type="submit" class="btn btn-primary mt-2 " style="width:auto;" value="Add" />
                        
                </form>

               </div>
                
                <!-- END: group1 -->
                <center>
                    <img src="{% static 'images/meobeo.png'%}" class="img-fluid" alt="Responsive image" style="margin-top: 5px;">
                </center>

            </div>
        </div>                   

           
            
    </div>
{% endblock %}

