{% load static %}


{% for project in Project %}
    
    <div class="col-12 col-lg-4  my-3 rounded-3 overflow-hidden">
        <div class="container-fluid py-4 bg-pink border">
            <div class="d-flex w-100 justify-content-between">
                <span class="d-inline ">
                    {{project.deadline}}
                </span>
                <span class="d-inline ">
                    <!-- <div class="fa fa-ellipsis-v"></div> -->
                    <div class="dropdown" style="z-index: 9999999;">
                        <div class=" fa fa-ellipsis-v " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <a class="dropdown-item"  href="{% url 'update' project.id %}">Update</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'delete' project.id %}">Delete</a>
                            </li>
                            
                        </ul>
                    </div>
                </span>
            </div>
            <h2 class="text-center fw-bolder">
                <a href="{% url 'detail' project.id %}">{{project.name_project}}</a>
            </h2>
            <p class="text-center">{{project.decription}}</p>
            <div class="progress w-100 " style="background-color:#fff">
                <div class="progress-bar bg-pinkload" role="progressbar" style="width:34%"
                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <input class="nu-task " hidden  value={{project.Nu_task}}>
            <input class="nu-taskdone " hidden  value={{project.Nu_taskDone}}>
            <div class="w-100 text-end fw-bolder task-percent"> %</div>
            <div class="row text-center">
                <div class="col-2 pe-0">
                    <div class="img-wrap" style="width: 40px;">
                        <div class="img" style="background-image:url({{request.user.profile.avatar.url}})">
                            <a href="{% url 'profile' user.username %}"></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-5"></div> 
                <div class="col-4 bg-light overflow-hidden mt-1 frame-rounded  d-flex align-items-center justify-content-center" >
                    <p class="bg-light text-center rounded-3 overflow-hidden m-0 ">{{project.DayLeft}}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
 
<!-- BEGIN:Pagination -->
<div class="pagination" style="justify-content: flex-end;">
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if Project.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{Project.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
          {% endif %}

            <li class="page-item disabled"><a class="page-link" href="#">{{Project.number}}</a></li>
            
          {% if Project.has_next  %}
            <li class="page-item">
                <a class="page-link" href="?page={{Project.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{Project.paginator.num_pages}}">Last</a>
            </li>
          {% endif %}
        </ul>
      </nav>
</div>

<!-- END:Pagination -->

